.row div {
    margin: 0.25rem;
}

.col-sm {
    background-color: chartreuse;
}

.col-md {
    background-color:hotpink;
}

.col-lg {
    background-color: moccasin;
}

.col-xl {
    background-color: mediumslateblue;
}